h1 {
  font-family: "Unica One", sans-serif;
  font-weight: lighter;
  color: #fff;
  max-width: 175px;
  top: 25%;
  left: 5%;
  z-index: 5;
  animation: fade 3s linear;
}

#rainbow-violet {
  animation: offset 3500ms linear forwards;
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
}

#rainbow-indigo {
  animation: offset 3500ms linear forwards;
  stroke-dasharray: 1812.502px;
  stroke-dashoffset: 1812.502;
}
